.projects-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.section-title {
  color: #ffffff;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.project-image {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.project-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  color: #ec704c;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.project-details {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1rem;
  text-align: center;
}

.submit-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #ffff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
}
.submit-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #ec704c;
}
.view-project-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #ffff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
}

.view-project-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #ec704c;
}