.side-navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1rem;
  
  backdrop-filter: blur(10px); /* Blur effect for a modern look */
}

.side-navbar a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #575757;
  transition: color 0.3s ease;
}

.side-navbar a:hover {
  color: #ec704c;
}

.side-navbar a.active {
  color: #ec704c;
}

/* Adjust main content to account for side navbar */
main {
  margin-left: 120px; /* Adjust based on your navbar width */
  padding: 2rem;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .side-navbar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    bottom: 0;
    top: auto;
    padding: 0.5rem;
  }

  .side-navbar a {
    margin: 0 10px;
  }

  main {
    margin-left: 0;
    margin-bottom: 60px; /* Adjust based on your navbar height */
  }
}